<div class="resume-content">
  <div id="aboutme">
    <h1 class="content-name">aaaaa</h1>
    <div>
      <p>
        <!--Lorem ipsum dolor sit amet, pede a libero aenean phasellus, lectus metus sint ut risus,
        fusce vel in pellentesque. Nisl rutrum etiam morbi consectetuer tempor magna, aenean nullam
        nunc id, neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna
        aliquam magna. Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor
        vel urna occaecat cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at,
        ligula ipsum dui sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu
        enim fringilla. Arcu erat nulla in aenean lacinia ullamcorper, urna ante nam et sagittis,
        tristique vehicula nibh ipsum vivamus, proin proin. Porta commodo nibh quis libero amet.
        Taciti dui, sapien consectetuer.-->
      </p>
    </div>
  </div>
  <div id="skills">
    <h1>bbb</h1>
    <div>
      <div fxLayout='row-reverse'>
        <div fxFlex="33" ></div>
          <div fxFlex="33" [fxLayout]="direction" fxLayout.md="row">
            sdfasdfas
          </div>
          <div fxFlex="33"    fxFlex.md="10px" fxHide.lg >aaaa</div>
          <div fxFlex="33"   fxFlex.md="65"      >aaaa</div>
          <div fxFlex="33"  fxFlex.md="25"   fxShow [fxHide.md]="hideBox" >aaaa</div>

          <div fxFlex>aaaa</div>
      </div>
      <div>
        <div>
            <app-card></app-card>
        </div>
        <div>
            <app-card></app-card>
        </div>
        <div>
            <app-card></app-card>
        </div>
        <div>
            <app-card></app-card>
        </div>
        <div>
            <app-card></app-card>
        </div>
        <div>
            <app-card></app-card>
        </div>
        <div>
            <app-card></app-card>
        </div>
        <div>
            <app-card></app-card>
        </div>
      </div>
      
    </div>
  </div>
</div>