.card {
    margin: 3px;
    md-chip {
        outline: none;
        margin: 3px;
    }
    md-card-header {
        margin-left: -8px;
        justify-content: space-between;
        md-card-title {
            // height: 40px;
            // line-height: 40px;
            font-size: 20px;
            margin-bottom: 10px;
        }
        .link-group {
            position: relative;
            right: 0;
            height: 40px;
            width: 85px;
            line-height: 40px;
            .link {
                padding: 0;
                width: 40px;
                height: 40px;
                min-width: 20px;
            }
        }
    }
    md-card-content {
        margin: 8px 0;
        p {
            line-height: 1.5;
            font-size: 16px;
        }
    }
    md-card-actions {
        margin: 0 0 -13px;
        padding: 0;
    }
}